@model IEnumerable<Hachi.Models.MenuItem>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h2>Menu Items List</h2>

<br />
<p>
    @Html.Partial("_ButtonPartial")
</p>
<div class="form-border">
    <table class="table table-striped table-borderless">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CategoryId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SubCategoryId)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubCategory.SubCategoryName)
                </td>
                <td>
                    @Html.Partial("_ButtonCategory", item.Id)
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

