@model IEnumerable<Hachi.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<p>
    @Html.Partial("_ButtonPartial")
</p>
<div class="form-border">
    <table class="table table-striped table-borderless">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CategoryName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DisplayOrder)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DisplayOrder)
                    </td>
                    <td>
                       @Html.Partial("_ButtonCategory",item.Id)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>